<head>
    <title>Chroniques Du Nouveau Monde Ultimate Timeliner</title>
    <meta name="author" content="L&eacute;o Chely">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

{{ form.media }}

<div id="container" class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <h1>Les Chroniques du Nouveau Monde Ultimate Timeliner</h1>
            {% for graphic in graphics%}
                {{ graphic | safe }}
            {% endfor %}
            <h2>Options de recherche</h2>
            <form action="/timeline/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button  type="submit" class="btn btn-primary">Chercher</button>
                <a class="btn btn-primary" href="." role="button">R&eacute;initialiser les filtres</a>
            </form>
            <a class="btn btn-light" href="." role="button">Ajouter des &eacute;v&eacute;nements</a>
        </div>
    </div>
</div>
